@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');

.Footer-Styles {
    font-family: "Libre Bodoni", serif;
}

.Back-to-HomePage:hover{
    background-color: azure;
    color: black;
    border-width: 6px;
}
.Back-to-HomePage:active {
    background-color: grey;
    color: white;
    border-width: 6px;
}